body {
    background-color: ghostwhite;
    color: black;
    margin: 0 50px;
 }

 header {
    background-color: #B7CD4E;
    border: 3px solid #15216E;
    font-family: fantasy;
    margin-top: 2em;
 }

 #heather-image {
    border: 3px solid #9E209E;
    height: 155px;
    padding: 3px;
    transform: rotate(-10deg);
    vertical-align: middle;
 }

 h1 {
    display: inline;
    font-size: 60px;
    padding: .5em 2.5em;
 }

 #nav {
    display: inline-block;
    line-height: 30px;
}

ul, ol {
    padding-left: 1em;
}

ul {
    list-style: circle;
}

ol {
    list-style: decimal;
}
.site-nav {
    font-family: fantasy;
    list-style: none;
 }

a {
    text-decoration: none;
}

main {
    margin-top: 1em;
}

li {
    font-family: "Gill Sans", sans-serif;
    font-size: 18px;
}

h2 {
    font-family: fantasy;
}

#about-me, #fav-places {
    background-color: #893B89;
    border: 3px solid #15216E;
    color: white;
    display: inline-block;
    height: 300px;
    padding: 1em;
    vertical-align: middle;

}
#about-me {
    line-height: 2em;
    width: 60%;
}

#fav-places {
    line-height: 1.1em;
    width: 33%;
}

#pnw-logo {
    height: 5em;
    margin-left: 50%;
    padding-right: 1000px;
    transform: rotate(14deg);
    width: 10em;
}

#connect {
    background-color: #B7CD4E;
    border: 3px solid #15216E;
    font-size: 15px;
    line-height: 2em;
    margin-top: 2em;
    padding: 1em;
    text-align: center;
}

.connect-links {
    font-family: fantasy;
    font-size: 25px;
}

#footer {
    border: 3px solid #15216E;
    font-size: 13px;
    margin-top: 3em;
    text-align: center;
}


